{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 ">
            <p>Welcome Lasvegas snack and restaurant website! We are a family-owned and operated establishment that has been serving delicious meals to our customers for many years. Our restaurant prides itself on providing a warm and welcoming atmosphere, where our guests can enjoy a memorable dining experience.

                Our menu features a variety of dishes that are made with the freshest ingredients, sourced locally whenever possible. We offer a range of options to satisfy different tastes and dietary needs, including vegetarian and gluten-free options. From our mouth-watering appetizers to our delectable entrees and desserts, our chefs put their heart and soul into every dish they prepare.
                
                Our restaurant is not just a place to enjoy great food, but also a place to relax and unwind with friends and family. We have a full bar, where we serve a variety of wines, beers, and cocktails to complement your meal. Our friendly and attentive staff is always on hand to ensure that your dining experience is nothing short of exceptional.
                
                We also offer catering services for all types of events, including weddings, corporate functions, and other special occasions. Our team of experienced chefs and event planners will work with you to create a customized menu that meets your specific needs and budget.
                
                Thank you for considering our restaurant for your dining needs. We look forward to serving you soon!</p>
        </div>
    </div>
</div>
{% endblock content %}
